<template>
  <div>
    <Layout :style="{minHeight: '100vh'}">
      <Sider ref="mySider" collapsible :collapsed-width="78" v-model="isCollapsed"
             :class="menuitemClasses">
        <div class="my-logo" v-show="display">
          <img class="my-logo-img" src="./assets/talkingdata.jpg" alt="">
        </div>
        <Menu width="auto" @on-select="openTab">
          <MenuItem :name="'1-'+ i" v-for="i in 20" :key="i" >
            <Icon type="ios-navigate"></Icon>
            <span>菜单1-{{i}}</span>
          </MenuItem>
        </Menu>
      </Sider>
      <Layout>
        <Header :style="{background: '#fff', boxShadow: '0 2px 3px 2px rgba(0,0,0,.1)'}">
          <Icon @click.native="collapseHandle" type="md-menu" size="20" class="inline my-icon"></Icon>
          <Breadcrumb :style="{margin: '0'}" class="inline bread">
            <BreadcrumbItem>Home</BreadcrumbItem>
            <BreadcrumbItem>Components</BreadcrumbItem>
            <BreadcrumbItem>Layout</BreadcrumbItem>
          </Breadcrumb>
        </Header>
        <Content :style="{padding:'0 16px 16px'}">
          <Tabs type="card" @on-tab-remove="closeTab" :animated="false">
            <TabPane v-for="tab in tabs" :key="tab" :capture-focus="true" closable :label="'标签' + tab">
              标签{{ tab }}
            </TabPane>
          </Tabs>
        </Content>
      </Layout>
    </Layout>
  </div>
</template>

<script>
  export default {
    name: 'App',
    data() {
      return {
        isCollapsed: false,
        display: false,
        tabs: []
      }
    },
    computed: {
      menuitemClasses() {
        this.isCollapsed ? this.display = false : this.display = true;
        console.log(this.isCollapsed);
        return [
          'menu-item',
          this.isCollapsed ? 'collapsed-menu' : ''
        ]
      }
    },
    methods: {
      collapseHandle() {
        this.isCollapsed ? this.display = false : this.display = true;
        this.$refs.mySider.toggleCollapse();
      },
      openTab(name) {
        console.log(`你打开了 ${name} `)
        this.tabs.push(name)
      },
      closeTab(name) {
        console.log(`你关闭了 ${name} `)
        // this.tabs = this.tabs.filter(item => {
        //   return item !== name
        // });
        let index = this.tabs.findIndex(item => {
          return item !== name
        });
        this.tabs.splice(index, 1);
        console.log(this.tabs)
      }
    }
  }
</script>

<style scoped>
  .my-logo-img {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .my-logo {
    margin-top: 20px;
    display: inline;
    width: 200px;
    height: 200px;
  }

  .my-icon {
    margin-right: 20px;
    width: 20px;
  }

  .inline {
    display: inline-block;
  }

  .menu-item span {
    display: inline-block;
    overflow: hidden;
    width: 69px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width .2s ease .2s;
  }

  .menu-item i {
    transform: translateX(0px);
    transition: font-size .2s ease, transform .2s ease;
    vertical-align: middle;
    font-size: 16px;
  }

  .collapsed-menu span {
    width: 0;
    transition: width .2s ease;
  }

  .collapsed-menu i {
    transform: translateX(5px);
    transition: font-size .2s ease .2s, transform .2s ease .2s;
    vertical-align: middle;
    font-size: 22px;
  }
</style>
